.flexContainer {
  composes: spaceBetween from "@/utilsCSS/utils.module.css";
  padding: 40px 40px;
  background: linear-gradient(#88BBD8, #FFFFFF00);
}
.header {
  position: fixed;
  width: 100%;
  z-index: 15;
}

@media screen and (max-width: 768px){
  .flexContainer {
    padding: 20px 40px;
  }
}
