.title {
  font-family: var(--font-Figtree);
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 5rem;
}
.desc::after, .desc::before {
  content: '/';
  font-weight: 100;
}
.desc {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media screen and (max-width: 420px){
  .title {
    font-size: 4rem;
  }
}
