.centerText {
  text-align: center;
  margin-bottom: 15px;
}

.box {
  margin-bottom: 15rem;
}

.embla {
  display: flex;
  align-items: center;
  gap: 10px;
  --slide-spacing: 10px;
}
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  margin-left: var(--slide-spacing);
}

.buttons {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.embla__prev, .embla__next {
  background: #00000020;
  border-radius: 50%;
  padding: 7px;
  color: #000000AA;
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background: #00000030;
    transition: 0s;
  }
  &:active {
    background: #007bff;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .embla__prev, .embla__next {
    display: none;
  }
}
