.flexContainer {
  composes: sideBySideCenter from "@/utilsCSS/utils.module.css";
  padding: 120px 0;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 7rem;
  font-weight: 900;
  line-height: 7.8rem;
}

.subtitle {
  font-size: var(--small-heading2);
}

/* image */
.image {
  width: 100%;
  padding: 50px;
}


@media (min-width: 768px) {
  .image {
    width: 50%;
    padding: 40px;
  }
}

@media screen and (max-width: 768px){
  .title {
    font-size: 5rem;
    line-height: 5.8rem;
  }
  .subtitle {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
